---
layout: ""
page_title: "Provider: Anypoint"
subcategory: "Mulesoft"
description: |-
  The Anypoint provider provides resources to interact with a Mulesoft's Anypoint Platform API.
---

# Anypoint Provider

The Anypoint provider provides resources to interact with a Mulesoft's Anypoint Platform API.

It is not recommended to use your own account for management of your actions. A user specific to
Terraform is recommended. You can use a Connected App also. Two-factor authentication is not supported in the provider.

This project is maintained by a group of architects 👨‍⚕️ and consultants 🧑‍🔧 at Mulesoft. It implements the Anypoint Platform's terraform provider.

Any contribution is welcome. If you're interested in this project, please get in touch 📧

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}